/* author css */
body {
    margin: 0;
    color: $paragraph-color;
    font-size: 16px;
    font-family: $primary-font;
    font-weight: 400;
}

h1 {
    font-size: 50px;
    font-weight: 700;
}

h2 {
    font-size: 36px;
    font-weight: 600;
}

h3 {
    font-size: 30px;
    font-weight: 600;
}

h4 {
    font-size: 24px;
    font-weight: 600;
}

h5 {
    font-size: 20px;
    font-weight: 500;
}

h6 {
    font-size: 18px;
    font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $paragraph-color;
    font-family: $primary-font;
    text-transform: capitalize;
    line-height: 1.5;
    margin-bottom: 0;
}

p {
    color: $paragraph-color;
    margin-bottom: 10px;
    line-height: 2;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a,
a:hover {
    text-decoration: none;
}

a:focus,
input:focus,
textarea:focus,
select:focus,
button:focus,
.slick-slide {
    outline: none;
}

button {
    cursor: pointer;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

// linear-gradient(90deg, #36D1DC -37.78%, #5B86E5 100%)